body {
  position: relative;
  box-sizing: border-box;
  background-color: #edeff2;
}

.container {
  margin-bottom: 30px;
}

nav.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.5;
  padding: 0 16px;
  margin-bottom: 0;
}
.logo {
  width: 60px;
}
.nav-item {
  list-style-type: none;
  display: inline-block;
  padding-top: 5px;
  margin-left: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}
.nav-item a {
  color: #000;
  font-weight: lighter;
  font-size: 1em;
}
h1.card-title{
  text-align: center;
  padding-top: 30%;
  color: white;
}
p.card-text {
  text-align: center;
  color: #fff;
  font-style: italic;
  font-weight: lighter;
}
.intro {
  text-align: center;
  margin-top: 20px;
}

.card {
  width: 30%;
  margin: 10px 10px 10px 20px;
  float: left;
  transition:all .3s ease-in-out;
}
div.hover:hover {
  box-shadow: 5px 15px 5px #888;
}
h2.card-title {
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
  color: #333;
  font-size: 1.2em;
}
p.card-body {
  font-size: 0.8em;
  text-align: justify;
  word-spacing: -2px;
  margin-bottom: 0;
  padding-top: 0;
}
img.card-image-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
button.btn {
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.space {
  margin-bottom: 50px;
  clear: both;
}

.quotes {
  background-color: #fff;
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 15px;
}

/* Packages CSS */

.row {
  background-color: #fff;
  margin: 25px 0 10px 0;
  padding: 10px 0 10px 0;
}

img.col-md-4 {
  padding: -0 0 30px 0;
  object-fit: cover;
  margin-top: -10px;
}

.highlight {
  color: #17a2b8;
}

.col-md-3 button {
  margin-top: 30px;
}

.col-md-3 h3 {
  text-align: center;
  padding-top: 70px;
}
